API_ID=123456
API_HASH=your_api_hash_here
BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyZ
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/render_deployer?retryWrites=true&w=majority
PORT=8080
ADMIN_IDS=12345678,87654321
RENDER_API_KEY=rnd_your_render_api_key
ENCRYPTION_SECRET=your_32_byte_secret_key_for_encryption!
